﻿@{
    string currentVersion = "c1ce7ab9724542bdb44e";
    string baseUrl = UrlHelper.GetBaseUrl(Context.Request);

    string authClientId = Environment.GetEnvironmentVariable("NOTION_AUTH_CLIENTID");
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Notion – The all-in-one workspace for your notes, tasks, wikis, and databases.</title>
		<meta name="description" content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@@NotionHQ">
		<meta name="twitter:title" content="Notion – The all-in-one workspace for your notes, tasks, wikis, and databases.">
		<meta name="twitter:description" content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team">
		<meta name="twitter:url" content="https://www.notion.so">
		<meta name="twitter:image" content="https://www.notion.so/images/meta.png">
		<meta property="og:site_name" content="Notion">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.notion.so">
		<meta property="og:title" content="Notion – The all-in-one workspace for your notes, tasks, wikis, and databases.">
		<meta property="og:description" content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team">
		<meta property="og:image" content="https://www.notion.so/images/meta.png">
		<meta property="og:locale" content="en_US">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
		<link rel="apple-touch-icon" href="/images/logo-ios.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
		<meta name="apple-itunes-app" content="app-id=1232780281">
		<!-- Cordova Stuff -->
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<!-- End Cordova Stuff -->
		<script type="text/javascript">
            CONFIG = {
                "env": "localDevelopment", //"production",
                "isAdminMode": false,
                "isLocalhost": false,
                "version": "20.0.30",
                "baseURL": "@baseUrl",
                "protocol": "notion",
                "lastUpdatedTime": 1546889108395,
                "api": {
                    "http": "/api/v3"
                },
                "googleOAuth": {
                    "clientId": "@authClientId"
                },
                /*"messageStore": {
                    "url": "https://msgstore.www.notion.so",
                    "api": "/api/v1"
                },
                "stripe": {
                    "key": "pk_live_vuNO27XGTCbXjVwneiECILjT"
                },
                "intercom": {
                    "appId": "gpfdrxfd"
                },
                "fullStory": {
                    "token": "VHGV"
                },
                "amplitude": {
                    "apiKey": "af43d4b535912f7751949bfb061d8659"
                },*/
                "pricing": {
                    "invoiceDaysUntilDue": 30,
                    "free": {
                        "spaceBlockLimit": 1000,
                        "fileUploadMaxBytes": 5000000
                    },
                    "personal": {
                        "productId": "prod_CpavZFCbxF2YGx",
                        "monthlyPrice": 500,
                        "yearlyPrice": 4800
                    },
                    "team": {
                        "productId": "prod_CpawK4ih14xs4t",
                        "monthlyPricePerMember": 1000,
                        "yearlyPricePerMember": 9600
                    },
                    "enterprise": {
                        "productId": "prod_Cpb8M1AFEFhdy1"
                    }
                },
                "desktopS3": {
                    "url": "https://s3-us-west-2.amazonaws.com/desktop-release.notion-static.com"
                },
                "publicFileS3": {
                    "url": "https://s3-us-west-2.amazonaws.com/public.notion-static.com",
                    "bucket": "public.notion-static.com"
                },
                "temporaryFileS3": {
                    "url": "https://s3-us-west-2.amazonaws.com/temporary.notion-static.com",
                    "bucket": "temporary.notion-static.com"
                },
                "secureFileS3": {
                    "url": "https://s3-us-west-2.amazonaws.com/secure.notion-static.com",
                    "bucket": "secure.notion-static.com"
                },
                "fileS3": {
                    "proxyUrl": "https://static.notion-static.com",
                    "url": "https://s3-us-west-2.amazonaws.com/static.notion-static.com",
                    "bucket": "static.notion-static.com"
                }
            };
		</script>
	<link href="/all-@(currentVersion).css" rel="stylesheet"><link href="/print-@(currentVersion)-media_cHJpbnQ=.css" rel="stylesheet" media="print"></head>
	<body>
		<style>
			/* Used so electron will render a white background. */
			body {
				background: white;
			}

			.loading-spinner {
				-webkit-animation: rotate 1000ms linear infinite;
				animation: rotate 1000ms linear infinite;
				-webkit-transform-origin: center center;
				transform-origin: center center;
				width: 1em;
				height: 1em;
				opacity: 0.5;
				display: block;
			}

			@@-webkit-keyframes rotate {
				0% {
					-webkit-transform: rotate(0deg) translateZ(0);
					transform: rotate(0deg) translateZ(0);
				}
				100% {
					-webkit-transform: rotate(360deg) translateZ(0);
					transform: rotate(360deg) translateZ(0);
				}
			}

			@@keyframes rotate {
				0% {
					-webkit-transform: rotate(0deg) translateZ(0);
					transform: rotate(0deg) translateZ(0);
				}
				100% {
					-webkit-transform: rotate(360deg) translateZ(0);
					transform: rotate(360deg) translateZ(0);
				}
			}
		</style>
		<div id="loading-spinner" style="position: absolute;top:0px;bottom:0px;left:0px;right:0px;display:flex;align-items:center;justify-content:center;opacity:0;">
			<div class="loading-spinner" style = "width: 24px; height: 24px;">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="100%" height="100%" viewBox="0 0 24 24" version="1.1" data-ember-extension="1">
					<defs>
						<linearGradient x1="28.1542969%" y1="63.7402344%" x2="74.6289062%" y2="17.7832031%" id="linearGradient-1">
							<stop stop-color="rgba(164, 164, 164, 1)" offset="0%"/>
							<stop stop-color="rgba(164, 164, 164, 0)" stop-opacity="0" offset="100%"/>
						</linearGradient>
					</defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none">
						<g transform="translate(-236.000000, -286.000000)">
							<g transform="translate(238.000000, 286.000000)">
								<circle id="Oval-2" stroke="url(#linearGradient-1)" stroke-width="4" cx="10" cy="12" r="10"/>
								<path d="M10,2 C4.4771525,2 0,6.4771525 0,12" id="Oval-2" stroke="rgba(164, 164, 164, 1)" stroke-width="4"/>
								<rect id="Rectangle-1" fill="rgba(164, 164, 164, 1)" x="8" y="0" width="4" height="4" rx="8"/>
							</g>
						</g>
					</g>
				</svg>
			</div>
		</div>
		<script type="text/javascript">
			var isElectron = typeof global !== "undefined"
			var isCordova = /Cordova/.test(navigator.userAgent)
			var showSpinner = isCordova || isElectron
			if (showSpinner) {
				var spinner = document.getElementById("loading-spinner")
				if (spinner) {
					spinner.style.opacity = 1
				}
			}
		</script>
		<div id="notion-app"></div>
	<script type="text/javascript" src="/app-@(currentVersion).js"></script></body>
</html>
